.custom {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    padding: 15px;
}

.custom .table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.custom .table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.custom .table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.custom .table th,
.custom .table td {
    padding: .625em;
    text-align: center;
}

.custom .table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.custom .form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 5px;
}

.custom .form h1 {
    background: #439DD1;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    border-radius: 5px 5px 0px 0px;
}

.custom .form input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.custom .form input[type="text"]:focus,
.custom .form input[type="date"]:focus,
.custom .form input[type="datetime"]:focus,
.custom .form input[type="email"]:focus,
.custom .form input[type="number"]:focus,
.custom .form input[type="search"]:focus,
.custom .form input[type="time"]:focus,
.custom .form input[type="url"]:focus,
.custom .form textarea:focus,
.custom .form select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.custom .form input[type="submit"],
.custom .form input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.custom .form input[type="submit"]:hover,
.custom .form input[type="button"]:hover {
    background: #2EBC99;
}

.custom .button {
    background-color: #929292;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.custom .button.button-primary {
    background-color: #439DD1;
}

.custom .button.button-success {
    background-color: #009900;
}

.custom .button.button-warning {
    background-color: #FF9900;
}

.custom .button.button-danger {
    background-color: #CC0000;
}

#file-thumbnail {
    display: none;
}

#file-info {
    display: none;
    margin: 5% auto;
    padding: 10px 20px;
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 3px;
}

.file-box {
    margin: 0 auto;
    padding: 10px;
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 4%;
}

.file-box [type=file] {
    display: none;
}

.file-box .file-label {
    margin: 0;
    padding: 10px;
    width: auto;
    max-width: 300px;
    height: auto;
    background-color: #929292;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

#file-box .file-size span,
#file-box .file-type span,
#file-box .file-name span {
    color: #EA4026;
}

.custom .modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.custom .modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.custom .modal-dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 0;
    border-radius: 10px;
    background: #eee;
}

.custom .modal-close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.custom .modal-close:hover {
    background: #CC0000;
}

@media screen and (max-width: 600px) {
    .custom .table {
        border: 0;
    }
    .custom .table caption {
        font-size: 1.3em;
    }
    .custom .table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .custom .table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .custom .table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .custom .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .custom .table td:last-child {
        border-bottom: 0;
    }
}